body{
	font-family: 'PT Sans', sans-serif;
}
/*header start*/
header{
	background: #fcdb00;
	padding: 10px 0 30px;
}
.menu ul li a{
	font-size: 22px;
	font-weight: 700;
	color: #010101!important;
	padding:0 55px!important;
	transition: 0.3s linear;
}
.menu ul li a:hover{
	color: #fff!important;
}
.menu ul li:last-child a{
	padding-right: 0!important;
}
/*header end*/
/*slider start*/
.slider{
	background: #fcdb00;
	padding-bottom: 100px;
}
.cid{
	bottom: -80px;
}
.cid li{
	width: 15px;
    height: 15px;
    border-radius: 50%;
}
.slider_content h1{
	font-size: 32px;
	font-weight: 700;
	color: #010101;
	margin:0;
}
.slider_content h2{
	font-size: 20px;
	color: #313841;
	margin: 20px 0;
}
.slider_content p{
	color: #555555;
	line-height: 20px;
	margin-bottom: 35px;
}
.slider_icon li i{
	font-size: 42px;
	color: #010101;
	padding-right: 20px;
	cursor: pointer;
	transition: 0.3s linear;
}
.slider_icon li i:hover{
	color: #fff;
}
/*slider end*/